<%= stylesheet_link_tag "application" %>

<div class="Janx-Container">
<h2>AI Janx Version: 0.0.1</h2>

<%= form_for UserChatField.new do |f| %>
  <%= f.text_field :user_text %>
  <%= f.submit "Talk" %>
<% end %>



<img src="http://cliparts.co/cliparts/8TE/6x7/8TE6x7K9c.png" alt="" class="Janx">

<div class="text-box">
  <% @janxes.each do |janx| %>
    <%= janx.response %>
  <% end %>
</div>
</div>
